<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Portifólio</title>
    <link rel="atylesheet" href="style.css">
    <style>
h2 {
  color:blueviolet;
}
h1 {
  color:cadetblue;
}
body {
  background-color: rgb(red(200), green(255), blue(400));
}

#eu-mesma {
  background-color: rosybrown;
}

p {
  font-family: 'Lucida Sans', 
  sans-serif;
}
.Trybe {
  color:green;
}
    </style>